.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 80vh;
  background-color: transparent;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 40px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  width: 100%;
  max-width: 400px;
}

.welcomeMessage {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}

.input {
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
}

.rememberForgotContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.rememberMe {
  display: flex;
  align-items: center;
  gap: 10px;
}

.forgotPassword a {
  color: #008E20;
  text-decoration: underline;
  cursor: pointer;
}

.forgotPassword a:hover {
  color: #005bb5;
}

.button {
  padding: 15px;
  border: none;
  border-radius: 5px;
  background-color: #00bf63;
  color: white;
  cursor: pointer;
  font-weight: bold;
}

.button:hover {
  background-color: #005bb5;
}
