/* Global Styles */
.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  padding-top: 75px;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: #00bf63;
}

.navLinks {
  list-style: none;
  display: flex;
  gap: 1rem;
}

.navLinks li {
  margin: 0;
}

.navLinks a {
  text-decoration: none;
  color: #333;
  transition: color 0.3s ease;
}

.navLinks a:hover {
  color: #00bf63;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 2rem;
  flex-direction: column-reverse;
  text-align: center;
}

.heroContent {
  max-width: 800px;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
  font-weight: bold;
}

.highlight {
  color: #00bf63;
}

.description {
  margin: 1.5rem 0;
  font-size: 1.5rem;
  color: #666;
}

.buttonContainer {
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.button {
  background-color: #00bf63;
  color: white;
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #00a653;
}

.heroImage {
  max-width: 500px;
  margin-bottom: 2rem;
}

.image {
  width: 100%;
  height: auto;
}

.services {
  padding: 2rem;
  background: #2C3231;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 2rem 0;
  text-align: center;
  border-radius: 10px;
  color: white;
}

.serviceCards {
  display: flex;
  justify-content: space-around;
  gap: 1rem;
  margin-top: 1.5rem;
}

.card {
  background: #414746;
  border-radius: 10px;
  padding: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  transition: transform 0.3s ease;
}

.card h3 {
  margin-top: 0;
  color: #00bf63;
}

.card p {
  color: white;
}

.card ul {
  list-style-type: disc;
  padding-left: 20px;
  text-align: left;
}

.card li {
  color: white;
}

.card:hover {
  transform: scale(1.05);
}

/* Description Section */
.descriptionSection {
  padding: 2rem;
  text-align: center;
}

.extraDescription {
  font-size: 1.25rem;
  padding-left: 25%;
  padding-right: 25%;
  color: white;
}

/* Plans Section */
.plansSection {
  width: 100%;
  padding: 50px 0;
  background-color: transparent;
}

.tableContainer {
  position: relative;
  width: 100%;
  max-width: 1000px;
  margin: auto;
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
}

.table th, .table td {
  border: 2px solid #00bf63; /* Green border */
  padding: 15px;
  text-align: center;
  color: white;
}

.table th {
  background-color: #00bf63;
  color: white;
  font-size: 20px;
  position: relative;
  height: 60px;
}

.table td {
  background-color: transparent;
  font-size: 16px;
  height: 60px;
}

.table .feature {
  background-color: transparent;
  font-weight: bold;
}

.price {
  font-size: 20px; /* Increased size */
  font-weight: bold;
}

.highlight {
  background-color: transparent;
}

.label, .mostPopular {
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #00bf63;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 14px;
  font-weight: bold;
}

.callToAction {
  text-align: center;
  padding: 50px 0;
}

.callToAction h2 {
  font-size: 2rem;
  color: white;
  margin-bottom: 10px;
}

.callToAction p {
  font-size: 1.25rem;
  color: white;
  margin-bottom: 20px;
}

.callToAction .buttonContainer {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.callToAction .button {
  background-color: #00bf63;
  color: white;
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.callToAction .button:hover {
  background-color: #00a653;
}